@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion one", serif;
    --font3: "Sriracha", serif;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;   
}

header{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: bold;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p{
    padding: 10px 10px 50px 10px;
    font-family: var(--font1);
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0 10vh 30px;
    line-height: 2.5em;
    background-color: white;
    color: black;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section.quebra > p{
    margin-bottom: 2em;
}

.bg1{
    background-image: url('../images/background001.jpg');
    background-position: center center;
}

.bg2{
    background-image: url('../images/background002.jpg');
}

.bg1, .bg2{
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 4px  4px 4px rgba(0, 0, 0, 0.322);
}

.bg1 p, .bg2 p{
    background-color: rgba(0, 0, 0, 0.425);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.486);
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-family: var(--font1);
}